.idea/
node_modules/
dist/
coverage/
test-report.xml
.env
.DS_STORE
# dependencies
/app/node_modules
/app/.pnp
/app.pnp.js
/app/.gitignore

# testing
/app/coverage

# production
/app/build

# misc
/app/.DS_Store
/app/.env.local
/app/.env.development.local
/app/.env.test.local
/app/.env.production.local

/app/npm-debug.log*
/app/yarn-debug.log*
/app/yarn-error.log*
